.navbar-header{
  padding: 10px;
  background-color: #0110d3;
  color: white;
  width: 100%
}
.navbar{
  margin: 0;
  padding: 0;
}
#sideNavIcon{
  position: absolute;
  left: 30px;
  cursor: pointer;
  font-size: 30px;
  top: 3%;
  width: 10%;
  color: white;
}

div h2{
  text-align: center;
  font-family: Calibri, serif;
}

#sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #01055b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

#sideNav a:hover {
  color: #78b0ff;
  background-color: #00043d;
}

#sideNav #closeButton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#closeButton:hover{
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  #sideNav {padding-top: 15px;}
  #sideNav a {font-size: 18px;}
}

